.container
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in users')
      .row
        .col-md-6
          strong {{user.name}}
          br
          span.text-muted {{user.email}}
        .col-md-6
          a.trash.pull-right(href="", ng-click='delete(user)', style="margin-top: 6px")
            span.glyphicon.glyphicon-trash
          .pull-right.btn-group(style="padding-right: 15px")
            label.btn.btn-sm.btn-primary(ng-change="setRole(user, 'user')", ng-model="user.role", btn-radio="'user'") User
            label.btn.btn-sm.btn-primary(ng-change="setRole(user, 'tester')", ng-model="user.role", btn-radio="'tester'") Tester
            label.btn.btn-sm.btn-primary(ng-change="setRole(user, 'admin')", ng-model="user.role", btn-radio="'admin'") Admin
