footer.footer
  .container
    p
      em Copyright &copy; 2015 Name Our Baby For Us
      = ' | '
      a(href='https://twitter.com/adamk33n3r') @adamk33n3r
      = ' | '
      a(href='https://adam-keenan.com') adam-keenan.com
