@import "font-awesome/css/font-awesome.css"
// @import "bootstrap/dist/css/bootstrap.css"
// @import "bootstrap/dist/css/bootstrap-theme.css"

//
// Bootstrap Fonts
//

@font-face
    font-family: 'Glyphicons Halflings'
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot')
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

//
// App-wide Styles
//

#content
  margin-bottom: 50px

.footer
    border-top 1px solid #E5E5E5
    margin-top 30px
    padding 20px 0
    text-align center

.hero-unit
  color: #F5F5F5
  padding: 30px 15px
  position: relative
  text-align: center
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1)

#banner.hero-unit
  background: #4393B9

#under-dev
  padding: 30px 15px
  position: relative
  text-align: center
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1)


#banner
  border-bottom: none
  margin-top: -20px
  text-shadow: 0px -1px 1px darken(#4393b9, 25%)

#banner h1
  font-size: 60px
  letter-spacing: -1px
  line-height: 1

.browsehappy
  background: #ccc
  color: #000
  margin: 0.2em 0
  padding: 0.2em 0

.bold
  font-weight: bold

.table-responsive
  overflow-x: auto

.block
  display: block

a[disabled]
  pointer-events: none

// Do these when 'mobile'
@media (max-width: 768px)
  .navbar-text
    padding: 0 15px
  #oauthLogins > a
    margin-bottom: 5px

@-moz-document url-prefix()
  fieldset
    display: table-cell


#page-number
  display: inline-flex
  float: left
  width: 50px
  height: 30px
  border-top-right-radius: 0
  border-bottom-right-radius: 0

.hidden-xs #page-number
  margin-left: 15px

panel-title(fs)
  font-size: fs
  display: inline

.panel-title
  h1&, .h1&
    panel-title(36px)
  h2&, .h2&
    panel-title(30px)
  h3&, .h3&
    panel-title(24px)
  h4&, .h4&
    panel-title(18px)
  h5&, .h5&
    panel-title(14px)
  h6&, .h6&
    panel-title(12px)

back-border(bg)
  background: bg
  border-color: darken(bg, 5%)
  color: #fff

$brand-primary = darken(#428bca, 6.5%) // #337ab7
$brand-success = #5cb85c
$brand-info    = #5bc0de
$brand-warning = #f0ad4e
$brand-danger  = #d9534f


ul.list-group-hover
  > li.list-group-item
    transition: all 0.2s
  > li.list-group-item:hover
    background-color: #f5f5f5

.close
  color: #222222

/*
.panel-heading
  .panel-primary > &
    back-border($brand-primary)
  .panel-success > &
    back-border($brand-success)
  .panel-info > &
    back-border($brand-info)
  .panel-warning > &
    back-border($brand-warning)
  .panel-danger > &
    back-border($brand-danger)
*/

// Component styles are injected through grunt
// injector
@import 'modal/modal.styl';
// endinjector
