header#banner.hero-unit
  .container
    h1 Name Our Baby For Us
    p.lead Crowd source your baby's name!
#under-dev.text-warning.bg-warning: h3 Currently Under Development

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6: li: a(href='#') See current rankings and other stats live
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6: li: a(href='#') Give select access to friends
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6: li: a(href='#') Veto unliked names
  .row: .col-xs-12
    br
    .hidden.fb-like(data-share="true", data-width="350", data-show-faces="true")
    //- fb:login-button(scope="public_profile,email" onlogin="checkLoginState();")

