.container.panel.panel-default.panel-body
  .row: .col-md-12
    h1 About
    p Top name lists in the public domain here:&nbsp;
      a(href="https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-level-data") https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-level-data
    p Biblical names retrieved from here:&nbsp;
      a(href="http://bibledatabase.org/names.html") http://bibledatabase.org/names.html
