.container.panel.panel-default.panel-body
  .row: .col-sm-6.col-sm-offset-3
    h1 {{ list.name }}
    table.table.table-hover
      thead: tr
        th Name
        th: .pull-right Gender
        th: .pull-right Enabled
      tbody: tr(ng-repeat="name in names", style="transition: 0s none")
        td {{ name.name }}
        td: .pull-right.btn-group
          label.btn.btn-primary(ng-change="setGender(name)", ng-model="name.gender", btn-radio="'male'") Male
          label.btn.btn-primary(ng-change="setGender(name)", ng-model="name.gender", btn-radio="'female'") Female
        td: .pull-right
          button.btn(ng-model="name.enabled", type="button", btn-checkbox="", ng-class="name.enabled ? 'btn-success' : 'btn-danger'", ng-change="setEnabled(name)")
            i.fa.fa-fw(ng-class="name.enabled ? 'fa-check' : 'fa-times'")
    div(style="text-align: center")
      .hidden-xs
        pagination(total-items="list.names.length", ng-model="pagination.page", ng-change="getNames()", items-per-page="pagination.itemsPerPage", max-size="pagination.maxSize", class="pagination-sm", boundary-links="true")
        ul.pagination.pagination-sm
          li: input#page-number.form-control(ng-model="pagination.page")
          li: a(href="", ng-click="getNames()") Goto Page
      .visible-xs-inline-block
        .row: .col-xs-12: pagination(total-items="list.names.length", ng-model="pagination.page", ng-change="getNames()", items-per-page="pagination.itemsPerPage", max-size="pagination.maxSizeMobile", class="pagination-sm", boundary-links="true", first-text="<<", last-text=">>", previous-text="<", next-text=">")
        .row: .col-xs-12: ul.pagination.pagination-sm(style="display:inline-flex")
          li: input#page-number.form-control(ng-model="pagination.page")
          li: a(href="", ng-click="getNames()") Goto Page

