.row: .col-sm-12
  #campaign-list.table-responsive(ng-if="campaigns.length > 0")
      table.table.table-hover
        thead
          tr
            th Name
            th List
            th Date
            //-th &nbsp;
        tbody
          tr(ng-repeat="campaign in campaigns")
            td: a.btn.btn-sm.btn-default(ui-sref="campaign.show({ id: '{{ campaign._id }}' })") {{ campaign.name }}
            td {{ campaign.list.name }}
            td {{ campaign.created_at.toDateString() }}
  p(ng-if="campaigns.length == 0") You have no campaigns
.row: .col-xs-12
  button.btn.btn-primary(ui-sref="campaign.new") Create New Campaign!
