.row
  .col-xs-4: h4 Name
  .col-xs-4: h4 Owners
  .col-xs-4: h4 List Used
.row
  .col-xs-4
    | {{ campaign.name }}
  .col-xs-4
    ul: li(ng-repeat="owner in campaign.owned_by")
      | {{ owner.name }}
  .col-xs-4
    | {{ campaign.gender | capitalize }} names of {{ campaign.list.name }}
.row: .col-xs-12: h3 Stats
.row
  .col-sm-4: .well.well-sm
    p Names Voted On:&nbsp;
      em {{ campaign.votes.length }}
    p Total Votes:&nbsp;
      em {{ totalVotes() }}
  .col-sm-4: .well.well-sm
    p Most Popular:&nbsp;
      em {{ mostPopular().name }} ({{ mostPopular().count }})
    p Least Popular:&nbsp;
      em {{ leastPopular().name }} ({{ leastPopular().count }})
  .col-sm-4: .well.well-sm
    p Names Favorited:&nbsp;
      em 4
    p Names Vetoed:&nbsp;
      em 17
.row: .col-xs-12
  .btn-group
    a.btn.btn-success(ui-sref="campaign.vote({ id: id })")
      | Vote!&nbsp;
      i.fa.fa-check
    a.btn.btn-primary(ui-sref="campaign.results({ id: id})")
      | View results&nbsp;
      i.fa.fa-table
hr
.row: .col-xs-12
  a.btn.btn-default(ui-sref="campaign.list")
    i.fa.fa-chevron-left
    |  Back to campaigns
